In [1]:
# Dependencies and Setup
import pandas as pd
import time

# record time before execution
start_time = time.time()

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data['Purchase ID']= 'Heroes_of_Pymoli'
pd.options.display.float_format = '{:,.2f}'.format

## Purchasing Analysis (Total)

* Display the total number of players

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [2]:
def len_unique (x):
    return len(x.unique())

tot_analysis = purchase_data.groupby('Purchase ID').agg(Number_of_Players = ("SN", len_unique), 
                                                        Number_of_Unique_Items = ("Item Name", len_unique),
                                                        Average_Price_USD = ("Price", 'mean'), 
                                                        Number_of_Purchases = ("Price", 'count'), 
                                                        Revenue_USD = ("Price", 'sum'))
tot_analysis

,Number_of_Players,Number_of_Unique_Items,Average_Price_USD,Number_of_Purchases,Revenue_USD
Purchase ID,,,,,
Heroes_of_Pymoli,576,179,3.05,780,"2,379.77"

## Gender Demographics and Purchasing Analysis

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
tot_players = tot_analysis['Number_of_Players'].sum()*100
def percentage (x):
    return len_unique(x)/tot_players

gender_analysis = purchase_data.groupby('Gender').agg(Number_of_Players = ("SN", len_unique), 
                                                        Percent_of_Players = ("SN", percentage), 
                                                        Number_of_Unique_Items = ("Item Name", len_unique),
                                                        Average_Price_USD = ("Price", 'mean'), 
                                                        Number_of_Purchases = ("Price", 'count'), 
                                                        Revenue_USD = ("Price", 'sum'))
gender_analysis['Revenue_per_Person'] = gender_analysis['Revenue_USD']/gender_analysis['Number_of_Players']
gender_analysis

,Number_of_Players,Percent_of_Players,Number_of_Unique_Items,Average_Price_USD,Number_of_Purchases,Revenue_USD,Revenue_per_Person
Gender,,,,,,,
Female,81,0.00,90,3.20,113,361.94,4.47
Male,484,0.01,178,3.02,652,"1,967.64",4.07
Other / Non-Disclosed,11,0.00,13,3.35,15,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# record time after execution
end_time = time.time()
print("Result calculated in {} sec".format(end_time - start_time))