In [1]:
# Dependencies and Setup
import pandas as pd
import time

# record time before execution
start_time = time.time()

# Data Preparation

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Creating functions for dataset analysis
purchase_data['Purchase ID']= 'Heroes_of_Pymoli'
tot_players = purchase_data['SN'].nunique()
def len_unique (x):
    return len(x.unique())
def percentage (x):
    return len_unique(x)/tot_players*100
def analysis (x):
    df_analysis = purchase_data.groupby(x).agg(Number_of_Players = ("SN", len_unique), 
                                                        Percent_of_Players = ("SN", percentage), 
                                                        Number_of_Unique_Items = ("Item Name", len_unique),
                                                        Average_Price_USD = ("Price", 'mean'), 
                                                        Number_of_Purchases = ("Price", 'count'), 
                                                        Revenue_USD = ("Price", 'sum'))
    df_analysis['Revenue_per_Person'] = df_analysis['Revenue_USD']/df_analysis['Number_of_Players']
    return df_analysis

pd.options.display.float_format = '{:,.2f}'.format

In [3]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,Heroes_of_Pymoli,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Heroes_of_Pymoli,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Heroes_of_Pymoli,Ithergue48,24,Male,92,Final Critic,4.88
3,Heroes_of_Pymoli,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Heroes_of_Pymoli,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,Heroes_of_Pymoli,Aethedru70,21,Female,60,Wolf,3.54
776,Heroes_of_Pymoli,Iral74,21,Male,164,Exiled Doomblade,1.63
777,Heroes_of_Pymoli,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Heroes_of_Pymoli,Sisur91,7,Male,92,Final Critic,4.19
779,Heroes_of_Pymoli,Ennrian78,24,Male,50,Dawn,4.60

## Purchasing Analysis (Total)

In [4]:
analysis('Purchase ID')

,Number_of_Players,Percent_of_Players,Number_of_Unique_Items,Average_Price_USD,Number_of_Purchases,Revenue_USD,Revenue_per_Person
Purchase ID,,,,,,,
Heroes_of_Pymoli,576,100.00,179,3.05,780,"2,379.77",4.13

## Gender Demographics and Purchasing Analysis

In [5]:
analysis('Gender')

,Number_of_Players,Percent_of_Players,Number_of_Unique_Items,Average_Price_USD,Number_of_Purchases,Revenue_USD,Revenue_per_Person
Gender,,,,,,,
Female,81,14.06,90,3.20,113,361.94,4.47
Male,484,84.03,178,3.02,652,"1,967.64",4.07
Other / Non-Disclosed,11,1.91,13,3.35,15,50.19,4.56

## Age Demographics and Purchasing Analysis

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
analysis('Age')

,Number_of_Players,Percent_of_Players,Number_of_Unique_Items,Average_Price_USD,Number_of_Purchases,Revenue_USD,Revenue_per_Person
Age,,,,,,,
7,7,1.22,9,3.65,9,32.89,4.70
8,6,1.04,8,3.25,8,25.97,4.33
9,4,0.69,6,3.04,6,18.27,4.57
10,7,1.22,9,3.54,9,31.83,4.55
11,6,1.04,7,2.68,7,18.79,3.13
12,4,0.69,6,2.63,6,15.80,3.95
13,3,0.52,4,2.36,4,9.45,3.15
14,2,0.35,2,3.46,2,6.91,3.46
15,26,4.51,31,3.02,35,105.65,4.06
16,24,4.17,28,3.02,30,90.56,3.77
17,19,3.30,20,2.93,22,64.48,3.39
18,21,3.65,25,3.16,26,82.22,3.92
19,17,2.95,23,3.04,23,69.98,4.12
20,69,11.98,78,3.17,99,314.32,4.56
21,43,7.47,57,2.92,62,180.74,4.20
22,49,8.51,62,2.96,70,206.85,4.22
23,49,8.51,54,3.01,67,201.93,4.12
24,48,8.33,55,3.14,67,210.22,4.38
25,43,7.47,52,3.08,59,181.90,4.23
26,11,1.91,13,2.87,14,40.19,3.65
27,9,1.56,10,2.72,10,27.23,3.03
28,4,0.69,4,1.69,5,8.45,2.11
29,10,1.74,12,2.71,13,35.23,3.52
30,25,4.34,34,3.15,35,110.32,4.41
31,5,0.87,7,3.44,7,24.05,4.81
32,6,1.04,8,2.84,8,22.69,3.78
33,9,1.56,14,2.49,14,34.81,3.87
34,7,1.22,9,2.46,9,22.13,3.16
35,10,1.74,13,3.72,14,52.03,5.20
36,5,0.87,5,2.53,5,12.66,2.53
37,5,0.87,7,3.64,7,25.51,5.10
38,5,0.87,9,3.79,9,34.15,6.83
39,6,1.04,6,3.89,6,23.32,3.89
40,5,0.87,6,2.79,6,16.71,3.34
41,2,0.35,2,3.27,2,6.54,3.27
42,1,0.17,1,3.93,1,3.93,3.93
43,1,0.17,1,4.00,1,4.00,4.00
44,2,0.35,2,2.68,2,5.36,2.68
45,1,0.17,1,1.70,1,1.70,1.70

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [7]:
# record time after execution
end_time = time.time()
print("Result calculated in {:,.2f} sec".format(end_time - start_time))

Result calculated in 0.16 sec